<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.em">
    <!--  上网的权限  -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--读取SD卡的权限:打开相册选取图片所必须的权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--外部存储的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/p2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/p2"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:icon, android:theme"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.em.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <!--元数据-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".re_pwd.ResetPasswordActivity" />
        <activity android:name=".register.RegisterActivity"/>
        <activity android:name=".home.HomeActivity" android:label="医麦分销端" />
        <activity android:name=".home_grzl.PersonInfoActivity"/>
        <activity android:name=".home_tx.CashWithdrawalActivity"/>
        <activity android:name=".home_tgsp.TGCommodityActivity"/>
        <activity android:name=".modify.ModifyPersonActivity"/>
        <activity android:name=".home_order.CumulativeOrderActivity"/>
        <activity android:name=".home_customer.CumulativeCustomerActivity"/>
        <activity android:name=".home_earning.CumulativeEarningActivity" />
        <activity android:name=".home_tx_add.AddBankActivity"/>
        <activity android:name=".tx_record.EarnRecordActivity"/>
        <activity android:name=".goods_details.GoodsDetailsActivity"/>
        <activity android:name=".haibao_hc.HaiBaoCompoundActivity"/>
        <activity android:name=".pic_share.GoodsPicShareActivity"/>
        <activity android:name=".app_update.AppUpdate"/>
        <activity android:name=".protocol.RegisterProtocol"/>
        <activity android:name=".home_qztg.TGShareActivity"/>
        <activity android:name=".home_zhgl.AccountMangerActivity"/>
        <activity android:name=".main.MainAPP"/>
        <activity android:name=".home_frg_menu.MenuActivity"/>
        <activity android:name=".home_frg_menu.MenuItemContentActivity"/>
        <activity android:name=".guide.NoviceGuideActivity"/>
        <activity android:name=".search.SearchActivity"/>
        <activity android:name=".modify_pwd.ModifyPasswordActivity"/>
        <activity android:name=".notice.NoticeCentActivity"/>
    </application>
</manifest>